
incoming/bom/HM01X_Data_009021_9999999910143263.txt
incoming/bom/HM01X_Data_009172_9999999910143263.txt
incoming/bom/HM01X_Data_009193_9999999910143263.txt
incoming/bom/HM01X_Data_009214_9999999910143263.txt
incoming/bom/HM01X_Data_009215_9999999910143263.txt
incoming/bom/HM01X_Data_009225_9999999910143263.txt
incoming/bom/
incoming/uwa/.DS_Store
incoming/uwa/oi/.DS_Store
incoming/wamsi/.DS_Store
incoming/wamsi/wwmsp5/.DS_Store
.DS_Store
incoming/.DS_Store
incoming/bom/ngis/timeseriesData/level_WA.csv
data-lake/bom/HM01X_Data_009021_9999999910143263.txt
data-lake/bom/HM01X_Data_009172_9999999910143263.txt
data-lake/bom/HM01X_Data_009193_9999999910143263.txt
data-lake/bom/HM01X_Data_009214_9999999910143263.txt
data-lake/bom/HM01X_Data_009215_9999999910143263.txt
data-lake/bom/HM01X_Data_009225_9999999910143263.txt
data-lake/bom/
data-lake/imos/
data-lake/uwa/.DS_Store
data-lake/uwa/oi/.DS_Store
data-lake/wamsi/.DS_Store
data-lake/wamsi/wwmsp5/.DS_Store
.DS_Store
data-lake/.DS_Store
data-lake/bom/ngis/timeseriesData/level_WA.csv
data-lake/wamsi/wwmsp5/Pressure
code/import/wamsi_theme5/theme5.mat
code/actions/Summary
data-warehouse/mat
data-warehouse/mat/cockburn.mat
data-lake
data-warehouse
data-lake-bak
data-warehouse-bak
code/import/TransportS3BucketIntoDataLake/CredsFile.py
._*
data-mapping/*
*.pyc
